.containerLogin {
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbffff;
}
.containerLogin .container {
    width: 65%;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.containerLogin .container .imgBox{
   width: 15%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}

.containerLogin .container .box1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerLogin .container div div:first-child{
    width: 52%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.containerLogin .container .box1 div:first-child div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.containerLogin .container .box1 form{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.containerLogin .container .box1 form input {
    width: 190%;
    height: 45px;
}

.containerLogin .container .box1 form .button{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerLogin .container .box1 form button {
    width: 110px;
    height: 35px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 20px;
    transition: 0.4s;
}

.containerLogin .container .box1 form button:hover {
    background-color: rgba(66, 133, 244, 0.82);
}

.containerLogin .container .box1 form .button a{
    color: #000000;
    /*transition: 0.4s;*/
    width: 130px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.progress {
    height: 7.5px;
    width: 100%;
    background: linear-gradient(#3b82f6 0 0),
    linear-gradient(#3b82f6 0 0),
    #ffffff;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    animation: progress-7x9cg2 1.7999999999999998s infinite;
}

@keyframes progress-7x9cg2 {
    0% {
        background-position: -150% 0,-150% 0;
    }

    66% {
        background-position: 250% 0,-150% 0;
    }

    100% {
        background-position: 250% 0, 250% 0;
    }
}

/*.containerLogin .container .box1 form .button a:hover{*/
/*    color: #fff;*/
/*    background-color: rgba(66, 133, 244, 0.37);*/
/*    border-radius: 20px;*/
/*    transition: 0.4s;*/
/*}*/

@media only screen and (max-width: 1200px) {
    .containerLogin {
        width:100%;
        height: 170vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fbffff;
    }

    .containerLogin .container {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .containerLogin .container .box1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerLogin .container div div:first-child{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 30px;
        align-items: start;
    }

    .containerLogin .container div div:last-child{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-bottom: 30px;
    }

    .containerLogin .container .imgBox{
        width: 28%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 30px;
    }
    .containerLogin .container .box1 form input {
        width: 100%;
        height: 45px;
    }
}
