.containerWaiting {
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbffff;
}
.containerWaiting .container {
    width: 65%;
    height: 180px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.containerWaiting .container .imgBox{
    width: 15%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}

.containerWaiting .container .box1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.loader {
    height: 7px;
    width: 100%;
    --c:no-repeat linear-gradient(#4285f4 0 0);
    background: var(--c),var(--c),#ffffff;
    background-size: 60% 100%;
    animation: l16 4s infinite;
}

@keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

@media only screen and (max-width: 1200px) {
    .containerWaiting {
        width:100%;
        height: 170vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fbffff;
    }

    .containerWaiting .container {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .containerWaiting .container .box1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }

    .containerWaiting .container .imgBox{
        width: 28%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 30px;
    }
}
